<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">  
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/tailwind.output.css" />
    
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="../js/init-alpine.js"></script>
  </head>
  <body class="bg-purple-200 dark:bg-black">
    <div
      class="flex h-1/2 bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      <!-- Desktop sidebar -->
      <aside
        class="z-20 hidden w-64 overflow-y-auto bg-purple-200 dark:bg-black md:block flex-shrink-0"
      >
        <div class="py-4 text-purple-400 dark:text-white dark:bg-black bg-purple-200">
          <h1
            class="ml-6 text-2xl font-sans text-purple-700 dark:text-white"
          >
            Welcome <strong class="text-purple-600"><%= firstname %></strong>
        </h1>
          <ul class="mt-6">
            <li class="relative px-6 py-3 ">
              <!-- <span
                class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
                aria-hidden="true"
              ></span> -->
              <a
                class="inline-flex items-center w-full text-xl font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100 hover:no-underline"
                href="/dashboard"
              >
                <svg
                  class="w-5 h-5 text-purple-600 dark:text-white"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                  ></path>
                </svg>
                <span class="ml-4 text-lg text-purple-700 tracking-wide dark:text-white">Profile</span>
              </a>
            </li>
          </ul>
          <ul>
            <li class="relative px-6 py-3">
              <button onclick="toggleModal('modal-id')"
                class="inline-flex items-center w-full text-xl font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
              >
                <svg
                  class="w-5 h-5 text-purple-600 dark:text-white"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                  ></path>
                </svg>
                <span class="ml-4 text-lg text-purple-700 tracking-wide dark:text-white">Post a Spot</span>
              </button>
            </li>
            <li class="relative px-6 py-3">
              <a href="/spots"
                class="inline-flex items-center w-full text-xl font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 hover:no-underline"
              >
                <svg
                  class="w-5 h-5 text-purple-600 dark:text-white"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                  ></path>
                </svg>
                <span class="ml-4 text-lg text-purple-700 tracking-wide dark:text-white">Find Spots</span>
              </a>
            </li>
            <li class="relative px-6 py-3">
              <a href="/bookings/1"
                class="inline-flex items-center w-full text-xl font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 hover:no-underline"
              >
                <svg
                  class="w-5 h-5 text-purple-600 dark:text-white"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                  ></path>
                </svg>
                <span class="ml-4 text-lg text-purple-700 tracking-wide dark:text-white">Check Bookings</span>
              </a>
            </li>
            <li class="relative px-6 py-3">
              <a href="/mybookings/1"
                class="inline-flex items-center w-full text-xl font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 hover:no-underline"
              >
                <svg
                  class="w-5 h-5 text-purple-600 dark:text-white"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                  ></path>
                </svg>
                <span class="ml-4 text-lg text-purple-700 tracking-wide dark:text-white">My Bookings</span>
              </a>
            </li>
            <li class="relative px-6 py-3">
              <a href="/myspots/1"
                class="inline-flex items-center w-full text-xl font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 hover:no-underline"
              >
                <svg
                  class="w-5 h-5 text-purple-600 dark:text-white"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                  ></path>
                </svg>
                <span class="ml-4 text-lg text-purple-700 tracking-wide dark:text-white">My Spots</span>
              </a>
            </li>
            <li class="relative px-6 py-3">
              <a href="/trackmybooking"
                class="inline-flex items-center w-full text-xl font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 hover:no-underline"
              >
                <svg
                  class="w-5 h-5 text-purple-600 dark:text-white"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                  ></path>
                </svg>
                <span class="ml-4 text-lg text-purple-700 tracking-wide dark:text-white">Track My Booking</span>
              </a>
            </li>
          </ul>
        </div>
      </aside>
      <!-- Mobile sidebar -->
      <!-- Backdrop -->
      <div
        x-show="isSideMenuOpen"
        x-transition:enter="transition ease-in-out duration-150"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in-out duration-150"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"
      ></div>
      <aside
        class="fixed inset-y-0 z-20 flex-shrink-0 w-64 mt-16 overflow-y-auto bg-purple-100 dark:bg-black md:hidden"
        x-show="isSideMenuOpen"
        x-transition:enter="transition ease-in-out duration-150"
        x-transition:enter-start="opacity-0 transform -translate-x-20"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in-out duration-150"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0 transform -translate-x-20"
        @click.away="closeSideMenu"
        @keydown.escape="closeSideMenu"
      >
        <div class="py-4 text-purple-400 dark:text-white">
          <a
            class="ml-6 text-lg font-bold text-gray-800 dark:text-white"
            href="#"
          >
          Welcome <%= firstname %>
          </a>
          <ul class="mt-6 dark:bg-black">
            <li class="relative px-6 py-3">
              <span
                class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
                aria-hidden="true"
              ></span>
              <a
                class="inline-flex items-center w-full text-xl font-semibold text-purple-400 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-white hover:no-underline"
                href="/dashboard"
              >
                <svg
                  class="w-5 h-5 text-purple-600 dark:text-white"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                  ></path>
                </svg>
                <span class="ml-4">Profile</span>
              </a>
            </li>
            <li class="relative px-6 py-3">
              <button onclick="toggleModal('modal-id')"
                class="inline-flex items-center w-full text-xl font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                >
                <svg
                  class="w-5 h-5 text-purple-600 dark:text-white"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                  ></path>
                </svg>
                <span class="ml-4">Post a spot</span>
              </button>
            </li>
            <li class="relative px-6 py-3">
              <a href="/spots"
                class="inline-flex items-center w-full text-xl font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 hover:no-underline"
                >
                <svg
                  class="w-5 h-5 text-purple-600 dark:text-white"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                  ></path>
                </svg>
                <span class="ml-4">Find spots</span>
              </a>
            </li>
            <li class="relative px-6 py-3">
              <a href="/bookings/1"
                class="inline-flex items-center w-full text-xl font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 hover:no-underline"
                >
                <svg
                  class="w-5 h-5 text-purple-600 dark:text-white"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                  ></path>
                </svg>
                <span class="ml-4">Check Bookings</span>
              </a>
            </li>
            <li class="relative px-6 py-3">
              <a href="/mybookings/1"
                class="inline-flex items-center w-full text-xl font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 hover:no-underline"
                >
                <svg
                  class="w-5 h-5 text-purple-600 dark:text-white"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                  ></path>
                </svg>
                <span class="ml-4">My Bookings</span>
              </a>
            </li>
            <li class="relative px-6 py-3">
              <a href="/myspots/1"
                class="inline-flex items-center w-full text-xl font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 hover:no-underline"
                >
                <svg
                  class="w-5 h-5 text-purple-600 dark:text-white"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                  ></path>
                </svg>
                <span class="ml-4">My Spots</span>
              </a>
            </li>
            <li class="relative px-6 py-3">
              <a href="/trackmybooking"
                class="inline-flex items-center w-full text-xl font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 hover:no-underline"
                >
                <svg
                  class="w-5 h-5 text-purple-600 dark:text-white"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                  ></path>
                </svg>
                <span class="ml-4">Track My Bookings</span>
              </a>
            </li>
          </ul>
        </div>
      </aside>
      <div class="flex flex-col flex-1 w-full">
        <header class="z-10 py-4 bg-purple-200 shadow-md dark:bg-black">
          <div
            class="container flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300"
          >
            <!-- Mobile hamburger -->
            <button
              class="p-1 mr-5 -ml-1 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple"
              @click="toggleSideMenu"
              aria-label="Menu"
            >
              <svg
                class="w-6 h-6 dark:text-white"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
            <!-- Search input -->
            <div class="flex justify-center flex-1 lg:mr-32">
              <div
                class="relative w-full max-w-xl mr-6 focus-within:text-purple-700"
              >
                <div class="absolute inset-y-0 flex items-center pl-2">
                  <!-- <svg
                    class="w-4 h-4"
                    aria-hidden="true"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                      clip-rule="evenodd"
                    ></path>
                  </svg> -->
                </div>
                <!-- <input
                  class="w-full pl-8 pr-2 text-xl text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input"
                  type="text"
                  placeholder="Search for spots"
                  aria-label="Search"
                /> -->
              </div>
            </div>
            <ul class="flex items-center flex-shrink-0 space-x-6">
              <!-- Theme toggler -->
              <li class="flex">
                <button
                  class="rounded-md focus:outline-none focus:shadow-outline-purple"
                  @click="toggleTheme"
                  aria-label="Toggle color mode"
                >
                  <template x-if="!dark">
                    <svg
                      class="w-5 h-5 text-purple-600"
                      aria-hidden="true"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
                      ></path>
                    </svg>
                  </template>
                  <template x-if="dark">
                    <svg
                      class="w-5 h-5 text-white"
                      aria-hidden="true"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </template>
                </button>
              </li>
              <!-- Notifications menu -->

              <!-- Profile menu -->
              <li class="flex">
                <a
                class="inline-flex items-center w-full px-2 py-1 text-xl font-semibold transition-colors duration-150 rounded-md  hover:text-purple-500 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:no-underline dark:text-white"
                href="/users/logout"
              >
                <svg
                  class="w-4 h-4 mr-3"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
                  ></path>
                </svg>
                <span>Log out</span>
              </a>
              </li>

            </ul>
          </div>
        </header>
        <main class="bg-purple-200 h-full overflow-y-auto dark:bg-black">
          <div class="container px-6 mx-auto grid">
            <%- include('./partials/messages.ejs') %>
            <br>

            <!-- Cards -->          
                <div class="bg-purple-300 shadow overflow-hidden sm:rounded-lg dark:bg-black">
                  <div class="px-4 py-4 sm:px-6 flex dark:bg-black">
                    <h3 class="text-2xl leading-6 font-serif text-purple-600 tracking-widest">
                      <strong>Customer Information</strong>
                    </h3>
                    <span class="justify-end ml-2">
                        <a href="/editprofile" class="text-purple-600 hover:text-purple-700"><i class="fas fa-user-edit"></i></span></a>
                    
                  </div>
                  <div class="bg-purple-200 dark:bg-black">
                    <dl>
                      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                  <!-- src="../uploads/profile/<%= profilepic %>" -->
                                  <img
                                    class="w-16 h-16 object-cover"
                                    src="../uploads/profile/<%= profilepic %>"
                                    alt="Avatar of Tailwind CSS Design"
                              />
                      </div>
                      <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-xl font-serif text-purple-500">
                          Full name
                        </dt>
                        <dd class="mt-1 text-xl text-purple-500 sm:mt-0 sm:col-span-2">
                          <%= username %>
                        </dd>
                      </div>
                      <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-xl font-serif text-purple-500">
                          Email 
                        </dt>
                        <dd class="mt-1 text-xl text-purple-500 sm:mt-0 sm:col-span-2">
                          <%= email %>
                        </dd>
                      </div>
                      <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-xl font-serif text-purple-500">
                          Address
                        </dt>
                        <dd class="mt-1 text-xl text-purple-500 sm:mt-0 sm:col-span-2">
                          <%= address %>
                        </dd>
                      </div>
                      <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-xl font-serif text-purple-500">
                          City
                        </dt>
                        <dd class="mt-1 text-xl text-purple-500 sm:mt-0 sm:col-span-2">
                         <%= city %>
                        </dd>
                      </div>
                          <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-xl font-serif text-purple-500">
                          State
                        </dt>
                        <dd class="mt-1 text-xl text-purple-500 sm:mt-0 sm:col-span-2">
                         <%= state %>
                        </dd>
                      </div>
                      <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-xl font-serif text-purple-500">
                          Zip/Postal
                        </dt>
                        <dd class="mt-1 text-xl text-purple-500 sm:mt-0 sm:col-span-2">
                         <%= zip %>
                        </dd>
                      </div>
                      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-xl font-serif text-purple-500">
                          Bio
                        </dt>
                        <dd class="mt-1 text-xl text-purple-500 sm:mt-0 sm:col-span-2">
                          <%= bio %>
                        </dd>
                      </div>
                    <div class="px-4 py-4 sm:px-6 bg-purple-300 dark:bg-black">
                    <h3 class="text-2xl leading-6 font-serif text-purple-600 tracking-widest">
                      <strong>Parking Information</strong>
                    </h3>
                    </div>
                        <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-xl font-serif text-purple-500">
                          Vehicle Prefered
                        </dt>
                        <dd class="mt-1 text-xl text-purple-500 sm:mt-0 sm:col-span-2">
                         <%= prefered %>
                        </dd>
                        </div>
                      <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 mb-5">
                        <dt class="text-xl font-serif text-purple-500">
                          Plate No
                        </dt>
                        <dd class="mt-1 text-xl text-purple-500 sm:mt-0 sm:col-span-2">
                         <%= plateno %>
                        </dd>
                        </div>
                    </dl>
                  </div>
                  <!-- <button class="text-purple-700  border border-solid border-purple-500 hover:bg-purple-600 hover:text-white active:bg-purple-600 font-bold capitalize px-8 py-3 rounded-full mr-1 mb-1" type="button" style="transition: all .15s ease">
                    <a href="/editprofile">Edit profile</a>
                   </button> -->
                </div> 
            <!-- Profile -->
            
           
<!--Modal-->
<div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center rounded" id="modal-id">
  <div class="relative w-auto my-6 mx-auto max-w-3xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-purple-200 outline-none focus:outline-none dark:bg-gray-900">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
        <h3 class="text-2xl font-serif animate-bounce tracking-widest text-purple-700">
          Please enter the details
        </h3>
      </div>
      <!--body-->
      <section class="container px-4  mx-auto">
        <div class="w-full mx-auto space-y-5">
          <form class="space-y-4" action="/postspot" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="email" value="<%= email %>">
            <input type="hidden" name="firstname" value="<%= firstname %>">
            <label class="block">
              <span class="block mb-2 text-xl font-serif text-purple-700">Area Name</span>
              <input
                class="dark:bg-gray-700 border border-transparent w-full placeholder-gray-500  h-10 rounded mr-2  focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                type="text"
                name="area"
                placeholder=" Ex. Shelby"
                required
              />
            </label>
            <label class="block">
              <span class="block mb-3 text-xl font-serif text-purple-700"
                >Spot Picture</span
              >
              <input
                class="dark:bg-gray-700 block w-64 mb-2 text-xl font-serif text-gray-600"
                type="file"
                placeholder="Ex. james@bond.com"
                name="pic"
                required
              />
            </label>
            <label class="block">
              <span class="block mb-2 text-xl font-serif text-purple-700"
                >Capacity</span
              >
              <input
                class="dark:bg-gray-700 border border-transparent w-full placeholder-gray-600 h-10 rounded focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                type="number"
                placeholder=" Ex. 5"
                name="capacity"
                required
              />
            </label>
      <!--footer-->
      <div class="flex space-x-2">
        <button class="bg-red-500 text-white font-bold uppercase px-6 py-3 rounded hover:bg-red-600 text-xl outline-none focus:outline-none mr-1 mb-1 transition duration-150 ease-in-out" type="button"  onclick="toggleModal('modal-id')">
          Close
        </button>
        <button type="submit" class="bg-green-500 text-white  hover:bg-green-600 font-bold uppercase text-xl px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1" type="button"  onclick="toggleModal('modal-id')">
          Post
        </button>
      </form>
    </div>
  </section>
      </div>
    </div>
  </div>

    
  </div>
  <div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>
  <script type="text/javascript">
    function toggleModal(modalID){
      document.getElementById(modalID).classList.toggle("hidden");
      document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
      document.getElementById(modalID).classList.toggle("flex");
      document.getElementById(modalID + "-backdrop").classList.toggle("flex");
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>