<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <style>
      /* Variables */
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}

input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
}

.result-message {
  line-height: 22px;
  font-size: 16px;
}

.result-message a {
  color: rgb(89, 111, 214);
  font-weight: 600;
  text-decoration: none;
}

.hidden {
  display: none;
}

#card-error {
  color: rgb(105, 115, 134);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}

#card-element {
  border-radius: 4px 4px 0 0 ;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  width: 100%;
  background: white;
}

#payment-request-button {
  margin-bottom: 32px;
}

/* Buttons and links */
button {
  background: #5469d4;
  color: #ffffff;
  font-family: Arial, sans-serif;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}
button:hover {
  filter: contrast(115%);
}
button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
  }
}
        a {
  text-decoration: none;
  color: #22292f;
}

.outline-0 {
  outline: 0;
}

.lh-fix {
  line-height: 0.75;
}

.font-wp-pusher {
  font-family: Lato, -apple-system, Helvetica Neue, sans-serif;
}

.bg-blue-wp-pusher {
  background-color: #1179bf;
}

.bg-green-wp-pusher {
  background-color: #038e7d;
}

.border-blue-wp-pusher {
  border-color: #1179bf;
}

.text-blue-wp-pusher {
  color: #1179bf;
}

.max-w-wp-pusher {
  max-width: 56rem;
}

.text-5\.5xl {
  font-size: 4.125rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mx-16 {
  margin: 0 4rem;
}

.p-10 {
  padding: 2.5rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.w-1\/2-almost {
  width: 48%;
}

.w-3\/4 {
    width: 75%;
}

@media (min-width: 768px) {
  .md\:ml-10 {
    margin-left: 2.5rem;
  }

  .md\:w-1\/2-almost {
    width: 48% !important;
  }
}



    </style>
</head>
<body class="bg-grey-lighter font-wp-pusher antialiased">  
    <br>
    <div class="checkout max-w-wp-pusher mx-auto">
      <div class="panel flex flex-col md:flex-row mb-8 shadow-lg">
        <div class="panel-left w-full md:w-2/3 bg-white rounded-l">
          <form action="#">
            <h1 class="text-3xl font-normal p-10 border-b border-solid border-grey-light">Checkout</h1>
            <div class="p-10 pt-8 border-b border-solid border-grey-light">
              <div class="flex items-center mb-4">
                <div class="border-2 border-solid border-blue-wp-pusher py-2 px-3 rounded-full font-bold mr-2 text-blue-wp-pusher">1</div>
                <h2 class="text-lg">Your Basic Information</h2>
              </div>
  
              <div class="flex flex-wrap">
                <div class="w-3/4 md:w-1/2-almost mb-4 md:mb-0">
                  <label for="first_name" class="block text-sm mb-2">First Name</label>
                  <input id="first_name" type="text" class="w-full text-sm bg-grey-light text-grey-darkest rounded px-3 py-3 outline-0">
                </div>
                <div class="w-3/4">
                  <label for="email" class="block text-sm mb-2">E-mail</label>
                  <input id="email" type="email" class="w-full text-sm bg-grey-light text-grey-darkest rounded px-3 py-3 outline-0">
                </div>
              </div>
            </div>
  
            <div class="p-10 pt-8 border-b border-solid border-grey-light">
              <div class="flex items-center mb-4">
                <div class="border-2 border-solid border-blue-wp-pusher py-2 px-3 rounded-full font-bold mr-2 text-blue-wp-pusher">2</div>
                <h2 class="text-lg">Your Payment Information</h2>
              </div>
              <!-- Payment form-->
              <h1><%= time %></h1>
              <h1><%= price %></h1>
              <!-- Display a payment form -->
              <form id="payment-form">
                <input type="hidden" id="publisherkey" name="publisherkey" value="<%= publisherkey %>">
                <input type="hidden" id="id" name="id" value="<%= id %>">
                <input type="hidden" id="bookingId" name="bookingId" value="<%= bookingId %>">
                <input type="hidden" id="firstname" name="firstname" value="<%= firstname %>">
                <input type="hidden" id="email" name="email" value="<%= email %>">
                <input type="hidden" id="userEmailWhoBooked" name="userEmailWhoBooked" value="<%= userEmailWhoBooked %>">
                <input type="hidden" id="userFirstNameWhoBooked" name="userFirstNameWhoBooked" value="<%= userFirstNameWhoBooked %>">
                <input type="hidden" id="vno" name="vno" value="<%= vno %>">
                <input type="hidden" id="timeflag" name="timeflag" value="<%= timeflag %>">
                <input type="hidden" id="time" name="time" value="<%= time %>">
                <input type="hidden" id="price" name="price" value="<%= price %>">
                <input type="hidden" id="area" name="area" value="<%= area %>">
                <input type="hidden" id="createdAt" name="createdAt" value="<%= createdAt %>">
                <input type="hidden" id="header" name="header" value="<%= header %>">
                <div id="card-element"><!--Stripe.js injects the Card Element--></div>
                <button id="submit">
                  <div class="spinner hidden" id="spinner"></div>
                  <span id="button-text">Pay now</span>
                </button>
                <p id="card-error" role="alert"></p>
                <p class="result-message hidden">
                  Payment succeeded, To continue, 
                  <a href="" target="_blank">Click here.</a> <p style="color: red;">Please do not refresh the page!</p>
                </p>
              </form>
            </div>
          </form>
        </div> <!-- end panel-left -->
      </div> <!-- end panel -->
    </div> <!-- end checkout -->
    <script>
        // A reference to Stripe.js initialized with your real test publishable API key.
  var stripe = Stripe(document.getElementById('publisherkey').value);
  
  // The items the customer wants to buy
  var purchase = {
    items: [{ 
          id: document.getElementById('id').value,
          bookingId: document.getElementById('bookingId').value,
          firstname: document.getElementById('firstname').value,
          email: document.getElementById('email').value,
          userEmailWhoBooked: document.getElementById('userEmailWhoBooked').value,
          userFirstNameWhoBooked: document.getElementById('userFirstNameWhoBooked').value,
          vno: document.getElementById('vno').value,
          timeflag: document.getElementById('timeflag').value,
          time: document.getElementById('time').value,
          price: document.getElementById('price').value,
          area: document.getElementById('area').value,
          createdAt: document.getElementById('createdAt').value 
    }]
  };
  
  // Disable the button until we have Stripe set up on the page
  document.querySelector("button").disabled = true;
  fetch("/create-payment-intent", {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify(purchase)
  })
    .then(function(result) {
      return result.json();
    })
    .then(function(data) {
      var elements = stripe.elements();
  
      var style = {
        base: {
          color: "#32325d",
          fontFamily: 'Arial, sans-serif',
          fontSmoothing: "antialiased",
          fontSize: "16px",
          "::placeholder": {
            color: "#32325d"
          }
        },
        invalid: {
          fontFamily: 'Arial, sans-serif',
          color: "#fa755a",
          iconColor: "#fa755a"
        }
      };
  
      var card = elements.create("card", { style: style });
      // Stripe injects an iframe into the DOM
      card.mount("#card-element");
  
      card.on("change", function (event) {
        // Disable the Pay button if there are no card details in the Element
        document.querySelector("button").disabled = event.empty;
        document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
      });
  
      var form = document.getElementById("payment-form");
      form.addEventListener("submit", function(event) {
        event.preventDefault();
        // Complete payment when the submit button is clicked
        payWithCard(stripe, card, data.clientSecret);
      });
    });
  
  // Calls stripe.confirmCardPayment
  // If the card requires authentication Stripe shows a pop-up modal to
  // prompt the user to enter authentication details without leaving your page.
  var payWithCard = function(stripe, card, clientSecret) {
    loading(true);
    stripe
      .confirmCardPayment(clientSecret, {
        payment_method: {
          card: card
        }
      })
      .then(function(result) {
        if (result.error) {
          // Show error to your customer
          showError(result.error.message);
        } else {
          // The payment succeeded!
          orderComplete(result.paymentIntent.id);
        }
      });
  };
  
  /* ------- UI helpers ------- */
  
  // Shows a success message when the payment is complete
  var orderComplete = function(paymentIntentId) {
    loading(false);
    document
      .querySelector(".result-message a")
      .setAttribute(
        "href",
        "http://" + document.getElementById('header').value + '/finishbooking/' + document.getElementById('bookingId').value
      );
    document.querySelector(".result-message").classList.remove("hidden");
    document.querySelector("button").disabled = true;
  };
  
  // Show the customer the error from Stripe if their card fails to charge
  var showError = function(errorMsgText) {
    loading(false);
    var errorMsg = document.querySelector("#card-error");
    errorMsg.textContent = errorMsgText;
    setTimeout(function() {
      errorMsg.textContent = "";
    }, 4000);
  };
  
  // Show a spinner on payment submission
  var loading = function(isLoading) {
    if (isLoading) {
      // Disable the button and show a spinner
      document.querySelector("button").disabled = true;
      document.querySelector("#spinner").classList.remove("hidden");
      document.querySelector("#button-text").classList.add("hidden");
    } else {
      document.querySelector("button").disabled = false;
      document.querySelector("#spinner").classList.add("hidden");
      document.querySelector("#button-text").classList.remove("hidden");
    }
  };
  
      </script>
  </body>
  
</html>